<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/ico" href="images/favIcon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <meta https-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Change password</title>

    <link href="/css/TimeCircles.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/styleuserHP.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/plantlyLogoBlack.png" height="31" width="117"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">about</a></li>
                <li>
                    <a class="nav-link" id="loginButton" th:unless="${session.user}" th:text="'log in'"></a>
                </li>
                <li class="dropdown">
                    <a href="user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"
                       th:if="${session.user}" th:text="${session.user.firstname} + ' &dtrif; ' "></a>
                    <ul class="dropdown-menu">
                        <li><a href="user">
                            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> | my plantly</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="changePassword">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> | change password</a>
                        </li>
                        <li th:if="${session.user.userType} == 'admin'"><a href="admin">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> | admin</a>
                        </li>
                        <li><a href="logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> | log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav><div class="container-fluid">
    <div class="row">
        <div class="col-md-12 content-area content-padding">
            <div class="col-md-4"></div>
            <div class="col-md-4 my-plantly-form change-pass-div" id="my-plantly-add-div">
                <h2>Add plant to plants table</h2>
                <form action="/addPlantToPlants" method="post">
                    <div class="field-wrap">
                        <label>
                            Plant species: <span class="req"></span>
                        </label>
                        <input type="text" name="plantSpecies" required="required" autocomplete="off" maxlength="50" title="Ex: Philodendron Xanadu"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Plant genus: <span class="req"></span>
                        </label>
                        <input type="text" name="plantGenus" required="required" autocomplete="off" maxlength="30" title="Ex: Philodendron"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Plant info: <span class="req"></span>
                        </label>
                        <input type="text" name="plantInfo" required="required" autocomplete="off" title="Info about plant"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Watering info: <span class="req"></span>
                        </label>
                        <input type="text" name="wateringInfo" required="required" autocomplete="off" title="Watering info"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Tempature info: <span class="req"></span>
                        </label>
                        <input type="text" name="tempature" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Humidity info: <span class="req"></span>
                        </label>
                        <input type="text" name="humidity" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Flowering info: <span class="req"></span>
                        </label>
                        <input type="text" name="flowering" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Pests: <span class="req"></span>
                        </label>
                        <input type="text" name="pests" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Diseases: <span class="req"></span>
                        </label>
                        <input type="text" name="diseases" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Soil info: <span class="req"></span>
                        </label>
                        <input type="text" name="soil" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Pot size: <span class="req"></span>
                        </label>
                        <input type="text" name="potSize" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Poisonous: <span class="req"></span>
                        </label>
                        <input type="text" name="poisonous" required="required" autocomplete="off" title="1 for poisonous 0 if not"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Watering days: <span class="req"></span>
                        </label>
                        <input type="text" name="wateringDays" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Fertilizing: <span class="req"></span>
                        </label>
                        <input type="text" name="fertilizing" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Ligh info: <span class="req"></span>
                        </label>
                        <input type="text" name="lightinfo" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Light needed: <span class="req"></span>
                        </label>
                        <input type="text" name="lightNeeded" required="required" autocomplete="off" title="Type unknown if uncertain"/>
                    </div>
                    <button type="submit" class="button button-block" id="my-plantly-form-addbutton" >Add plant</button>
                    <div th:if="${info}" th:text="${info}"></div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js'></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/TimeCircles.js"></script>

<script src="/js/index.js"></script>
<script src="/js/autocomplete.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

</body>

</html>