<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/TimeCircles.js"></script>
    <link href="/css/TimeCircles.css" rel="stylesheet"/>
</head>
<body>
<div class="clock" data-timer="900" data-unit="Days"></div>
<button class="restart">Restart</button>
<script type="text/javascript" src="/js/clockdown.js"></script>
</body>
</html>